<body>
    <div class="container">
  
      <table class="table table-hover table-bordered">
        <thead>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Cost</th>
          <th>Action</th>
        </thead>
  
        <tbody>
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{dept}}</td>
            <td>{{desi}}</td>
            <td>
              <button class="btn btn-success">Edit</button>
              <button class="btn btn-warning">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  
