<div class="container text-center container-fluid bg-trasparent my-3 d-flex">
    <div class="col-3 mb-3" *ngFor="let f of cartSer.arrCart let i=index">
      <div class="card h-100 shadow-sm" style="width: 18rem;">
        <img src={{f.image}} class="card-img-top" alt="...">
        <div class="card-body" style="height:auto">
          <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{f.price
              | currency :'INR'}}
            </span>&nbsp;&nbsp;
            <span class="float-start badge rounded-pill bg-warning">ID:{{f.id}}</span><span class="float-end"><a
                href="#" class="small text-muted" routerLink="/review">Reviews</a></span>
          </div>
          <h5 class="card-title">{{f.name}}</h5>
        </div>
        <div class="text-center my-4">
          <a class="btn btn-info" (click)="removeItem(i)">Remove</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center border border-dark rounded">
    <h3 class="">Total Price of Cart</h3>
    <h4>Rs : {{sum}}</h4>
    <button class="btn btn-primary" (click)="totalSum()">Total</button>
</div>
