<section class="outer-container">
    <div class="container text-center container-fluid bg-trasparent">
        <div class="row">
            <div class="col-2 mb-3" style="margin-left: 10%; margin-top: 5%;" *ngFor="let f of flowers">
                <div class="card h-100 shadow-sm" style="width: 18rem;">
                    <img src={{f.image}} class="card-img-top" alt="...">
                    <div class="card-body" style="height:auto">
                        <div class="clearfix mb-1"> <span class="float-start badge rounded-pill bg-success">{{f.price
                                | currency :'INR'}}
                            </span>&nbsp;&nbsp;
                        </div>
                        <h5 class="card-title">{{f.name}}</h5>
                    </div>

                    <div class="text-center mb-4 ">
                        <a class="btn btn-info" (click)="addCart(f)">Add To cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>